/*-->
CUSTOM FONTS
<--*/

@font-face {
    font-family: 'Opensanslight';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans-light-webfont.ttf') format('truetype'),
         url('../fonts/opensans-light-webfont.svg#Opensanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Opensansregular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#Opensansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Opensanssemibold';
    src: url('../fonts/opensans-semibold-webfont.eot');
    src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-semibold-webfont.woff') format('woff'),
         url('../fonts/opensans-semibold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-semibold-webfont.svg#Opensanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}



body{font-family: 'Opensansregular'; font-size: 14px; color: #333333; background-color: #eff1f3;}
ul{ list-style: none; margin: 0px; padding: 0px;}
a{ color: #0057a1;}


.container{max-width: 1180px;}
.form-control {
    box-shadow: none;
    height: 45px;
    border: 1px solid #bfbfbf;
}
.btn-primary {
    background-color: #84c64c;
    border-color: #84c64c;
    text-transform: uppercase;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active{
    background-color: #6bb32e;
    border-color: #84c64c;
}

.radio label, .checkbox label {
    padding-left: 30px;
}
.radio input[type=radio], .radio-inline input[type=radio], .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox] {
    opacity: 0;
}
.radio-inline, .checkbox-inline {
    position: relative;
    padding-left: 30px;
}
.checkbox input[type=checkbox] ~ .check-radio, .checkbox-inline input[type=checkbox] ~ .check-radio,
.radio input[type=radio] ~ .check-radio, .radio-inline input[type=radio] ~ .check-radio{
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    border: 1px solid #bfbfbf;
    background: #fff;
    border-radius: 3px;
    left: 0px;
    transition: all 0.1s ease-out;
}

.radio input[type=radio] ~ .check-radio, .radio-inline input[type=radio] ~ .check-radio {
    border-radius: 10px;
}

.checkbox input[type=checkbox]:checked ~ .check-radio, .checkbox-inline input[type=checkbox]:checked ~ .check-radio {
    background: url('../img/check-mark.svg') no-repeat center center #0057a1;
    background-size: 12px;
    border-color: #0057a1;
}
.radio input[type=radio]:checked ~ .check-radio, .radio-inline input[type=radio]:checked ~ .check-radio {
    background: url('../img/radio-mark.svg') no-repeat center center #fff;
    background-size: 12px;
    border-color: #0057a1;
}

/* LOGIN CSS STARTS HERE */
.login-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;    
    box-shadow: 0px 30px 50px rgba(0,0,0,0.15);
}
.login-title {
    background-color: #0057a1;
    color: #fff;
    margin: 0px;
    text-align: center;
    margin: -20px -20px 20px -20px;
    padding: 15px;
    text-transform: uppercase;
}
.login-container .btn {
    height: 45px;
    text-transform: uppercase;
    font-family: 'Opensanssemibold';
    font-size: 16px;
}
.login-links {
    margin-top: 40px;
    text-align: center;
}
/* LOGIN CSS ENDS HERE */

.side-bar {
    background-color: #0057a1;
    color: #fff;
}
.logo {
    border-bottom: 1px solid #1a68ab;
    text-align: center;
}
.logo a {
    color: #fff;
    font-size: 20px;
    display: block;
    background: url(img/logo.png) no-repeat center 10px #fff;
    background-size: auto 50px;
    height: 70px;
    text-indent: -9999px;
    margin-left: -15px;
    margin-right: -15px;
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
    position: relative;
    z-index: 1;
}
.navbar-default {
    border-radius: 0px;
    border: 0px none;
    margin-left: -15px;
    margin-right: -15px;
    background-color: #fff;
}
.sidebar-nav {
    margin-top: 15px;
}
.sidebar-nav li {
    border-bottom: 1px solid #1263a8;
    padding: 10px 15px;
    transition: all 0.25s ease-out;
    position: relative;
}
.sidebar-nav > li a {
    color: #b3cde3;
    display: block;
}
.sidebar-nav > li:hover,
.sidebar-nav > li.active{
    background-color: #0d60a6;
}
.sidebar-nav > li:hover > a,
.sidebar-nav > li:focus > a,
.sidebar-nav > li.active > a{
    color: #fff;
    text-decoration: none;
}
.sidebar-nav > li .glyphicon {
    position: absolute;
    top: 15px;
    right: 5px;
    font-size: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.sidebar-nav > li .glyphicon:before {
    padding-left: 10px;
    margin-top: 15px;
    display: block;    
}
.sidebar-nav > li > a {
    padding: 15px 0px 15px 35px;
}
.sidebar-nav > li > a.water-meter {
    background: url('../img/water_meter_icon.svg') no-repeat 0px 12px transparent;
    background-size: 25px;
}
.sidebar-nav > li > a.water-controller {
    background: url('../img/water_contrelling_icon.svg') no-repeat 0px 12px transparent;
    background-size: 25px;
}
.sidebar-nav > li > a.water-unloading {
    background: url('../img/water_unloading_icon.svg') no-repeat 0px 12px transparent;
    background-size: 25px;
}
.sub-nav {
    display: none;
    background-color: #2670af; 
    margin: 10px -15px -11px;
}
.sub-nav >li > a {
    padding-left: 35px;
}
.sidebar-nav > li.active .sub-nav {
    display: block;    
}
.sidebar-nav > li.active .sub-nav a {
    color: #fff;    
}
.page-title {
    border-bottom: 1px solid #ed3237;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.page-title h3 {
    float: left;
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 20px;
    font-family: 'Opensanssemibold';
    color: #ed3237;
}
.page-title .btn {
    float: right;
    margin-top: 5px;
}
.table {
    background-color: #fff;
}
.button-block {
    margin-top: 30px;
    border-top: 1px solid #ccc;
    padding-top: 15px;
    margin-bottom: 30px;
}

.footer {
    margin-top: 30px;
    border-top: 1px solid #dcdcdc;
    padding-top: 20px;
    color: #9c9c9c;
    text-align: center;
    padding-bottom: 30px;
    font-size: 12px;
}
.main-tab > .tab-pane {
    padding: 20px;
    background-color: #fff;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.sub-tab > .tab-pane {
    padding: 20px 0px;
}
.sub-tabs.nav-tabs>li.active>a, .sub-tabs.nav-tabs>li.active>a:hover, .sub-tabs.nav-tabs>li.active>a:focus {
    border: 0px none;
    color: #6bb32e;
    font-family: 'Opensanssemibold';
    position: relative;
}
.sub-tabs.nav-tabs>li.active>a:after {
    position: absolute;
    height: 3px;
    width: 100%;
    content: '';
    bottom: -2px;
    left: 0px;
    background-color: #6bb32e;
    
}
.sub-tabs.nav-tabs>li>a {
    padding: 10px 0px;
}
.sub-tabs.nav-tabs>li + li {
    padding-left: 15px;
}
.sub-tabs.nav-tabs>li>a:hover {
    background: none;
    border-color:transparent;
    color: #6bb32e;
}
.side-bar .navbar-collapse {
    padding-left: 0px;
    padding-right: 0px;
}
.graphs img {
    margin-bottom: 30px;
}
.primary-title {
    font-family: 'Opensanssemibold';
    color: #0057a1;
    margin-top: 10px;
}
.main-container .navbar-default .navbar-nav>.open>a, 
.main-container .navbar-default .navbar-nav>.open>a:hover, 
.main-container .navbar-default .navbar-nav>.open>a:focus {
    background-color: transparent;
}
.atn-stats {
    background-color: #ffffff;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.15);
    padding: 5px 5px 5px 70px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.atn-stats .atn-stats-label  {
    text-transform: uppercase;
}
.atn-stats .atn-stats-text {
    font-family: 'Opensanssemibold';
    font-size: 21px;
}
.atn-stats.flats {
    background: url(../img/flats_icon.svg) no-repeat 15px 50% #fff;
    background-size: 40px;
}
.atn-stats.consumers {
    background: url(../img/consumer_icon.svg) no-repeat 15px 50% #fff;
    background-size: 40px;    
}
.atn-stats.gateway {
    background: url(../img/gateway_icon.svg) no-repeat 15px 50% #fff;
    background-size: 40px;    
}
.atn-stats.consumer-issues {
    background: url(../img/consumer_issues_icon.svg) no-repeat 15px 50% #fff;
    background-size: 40px;    
}
.atn-stats.transmitter {
    background: url(../img/transmitter_icon.svg) no-repeat 15px 15px #fff;
    background-size: 40px;    
}
.atn-stats.sensor {
    background: url(../img/sensor_icon.svg) no-repeat 15px 15px #fff;
    background-size: 40px;    
}
.transmitter-issues:before,
.sensor-issues:before {
    position: absolute;
    content: '';
    display: block;
    width: 40px;
    height: 100%;
    left: -40px;
}
.transmitter-issues:before {
    background: url(../img/transmitter_error_icon.svg) no-repeat 0px 50% #fff;
    background-size: 40px;
}
.sensor-issues:before {
    background: url(../img/sensor_error_icon.svg) no-repeat 0px 50% #fff;
    background-size: 40px;    
}
.atn-stats.flats .atn-stats-text,
.atn-stats.sensor .atn-stats-text {
    color: #6f32ff;
}
.atn-stats.consumers .atn-stats-text,
.atn-stats.consumer-issues .atn-stats-text {
    color: #ff9066;
}
.atn-stats.gateway .atn-stats-text {
    color: #ffcd41;
}
.atn-stats.transmitter .atn-stats-text {
    color: #40cd7d;
}
.atn-alerts >li + li {
    padding-top: 10px;
}
.atn-alerts >li >a {
    display: block;
    background-color: #fff;
    border-left: 3px solid #0057a1;
    border-radius: 5px;
    padding: 10px 15px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.15);
    transition: all 0.15s ease-in-out;
    color: #333;
    font-size: 13px;
}
.atn-alerts >li >a:hover {
    transform: translateY(-5px);
    text-decoration: none;
}
.water-capacity {
    color: #0057a1;
    font-family: 'Opensanssemibold';
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;    
}
.tank {
    height: 250px;
    background: #1e384c;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
}
.water-animation {
    position: absolute;
    top: 125px;
    left: 222px;
    transition: all 0.25s ease-out;
    width: 224px;
}

.water {
    height: 100%;
    width: 100%;
    background: #32bafa;
    -webkit-transform: translate(0, 50%);
    transform: translate(0, 9%);
  }
  
  .water__inner {
      position: absolute;
      width: 100%;
      height: 50%;
      top: 0;
      left: 0;
      overflow: hidden;
    }
  
  .water__wave {
      width: 200%;
      position: absolute;
      bottom: 100%;
    }
  
  .water__wave_back {
        right: 0;
        fill: #2c7fbe;
        -webkit-animation: wave-back 1.4s infinite linear;
                animation: wave-back 1.4s infinite linear;
      }
  
  .water__wave_front {
        left: 0;
        fill: #32bafa;
        margin-bottom: -1px;
        -webkit-animation: wave-front .7s infinite linear;
                animation: wave-front .7s infinite linear;
      }

      .percent {
        color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        font-weight: lighter;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      .percent__inner {
          display: inline-block;
        }
      
      .percent__num {
          display: inline-block;
          font-size: 3em;
        }
      
      .percent__sign {
          display: inline-block;
          font-size: 2em;
        }      


      @-webkit-keyframes wave-front {
        100% {
          -webkit-transform: translate(-50%, 0);
                  transform: translate(-50%, 0);
        }
      }
      
      @keyframes wave-front {
        100% {
          -webkit-transform: translate(-50%, 0);
                  transform: translate(-50%, 0);
        }
      }
      
      @-webkit-keyframes wave-back {
        100% {
          -webkit-transform: translate(50%, 0);
                  transform: translate(50%, 0);
        }
      }
      
      @keyframes wave-back {
        100% {
          -webkit-transform: translate(50%, 0);
                  transform: translate(50%, 0);
        }
    } 

.water-consumption p > span {
    display: block;
    font-size: 16px;
    font-family: 'Opensanssemibold';
    padding-bottom: 5px;
} 
.water-consumption .alert {
    padding: 5px 10px;
    margin-bottom: 10px;
}
.water-consumption .warning,
.water-consumption .good{
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px;    
}
.water-consumption .warning {
    background-color: #f94416;
}
.water-consumption .good {
    background-color: #41d888;
}

@media screen and (min-width: 992px){
    .side-bar {
        width: 20%;
    }
    .main-container {
        width: 80%;
    }    
    .container-wrapper {
        background: #0057a1;
        background: -moz-linear-gradient(left, #0057a1 0%, #0057a1 20%, #eff1f3 20%, #eff1f3 100%);
        background: -webkit-linear-gradient(left, #0057a1 0%,#0057a1 20%,#eff1f3 20%,#eff1f3 100%);
        background: linear-gradient(to right, #0057a1 0%,#0057a1 20%,#eff1f3 20%,#eff1f3 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0057a1', endColorstr='#eff1f3',GradientType=1 );    
    }      
}

@media screen and (min-width: 768px){
    .login-container {
        width: 400px;
        padding: 20px;
    }   
    .side-bar {
        height: 100vh;
    }
    .sidebar-nav {
        margin-top: 15px;
        margin-left: -15px;
        margin-right: -15px;
    }    
    .m-t-30 {
        margin-top: 30px;
    }    
    .bttn-group,
    .bttn-group .btn{
        float: right;
    }
    .bttn-group .btn-link {
        margin-top: 7px;
        margin-right: 15px;        
    }
    .primary-title {
        float: left;
    }
    .main-container .navbar{
        padding-top: 10px;
        min-height: 70px;
    }
    .custom-row {
        margin-left: -5px;
        margin-right: -5px;
    }
    .custom-col {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){
    .container-wrapper {
        background: #0057a1;
        background: -moz-linear-gradient(left, #0057a1 0%, #0057a1 25%, #eff1f3 25%, #eff1f3 100%);
        background: -webkit-linear-gradient(left, #0057a1 0%,#0057a1 25%,#eff1f3 25%,#eff1f3 100%);
        background: linear-gradient(to right, #0057a1 0%,#0057a1 25%,#eff1f3 25%,#eff1f3 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0057a1', endColorstr='#eff1f3',GradientType=1 );    
        }     
}

@media screen and (max-width: 991px){

}

@media screen and (max-width: 767px){
    .login-container {
        width: 300px;
        padding: 20px;
    }
    
    .navbar-toggle {
        position: absolute;
        top: 10px;
        right: 0px;
        border-color: #0057a1;
        z-index: 2;
    }    
    .navbar-toggle .icon-bar {
        background-color: #0057a1;
    }
    .navbar-toggle.settings {
        padding: 6px 14px;
        left: 15px;
    }
    .navbar-toggle.settings .glyphicon {
        color: #0057a1;
    }
    
    .side-bar .navbar-collapse {
        border-top: 0px none;
        box-shadow: none;
    }
    .side-bar .sidebar-nav {
        margin-top: 0px;
    }
    .btn-primary {
        margin-bottom: 20px;
        display: block;
        width: 100%;
    }
    .bttn-group {
        text-align: center;
    }
    .page-title h3 {        
        font-size: 20px;
    }
    .atn-stats {
        margin-bottom: 15px;
    }
}





.full-width-table {
    width: 100%;
    margin-bottom: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
}

.full-width-table .table {
    table-layout: fixed;    
    min-width: 4000px;
}